.MainDiv {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    width: 80%;
    height: 600px;
    margin: auto;
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 40px;
    height: 10%;
    background-color: #eeb0b0;
    color: rgb(62, 152, 204);
}

.logoDiv img {
    height: 60px;
    margin-right: 10px;
}


.TableDiv {
    margin-top: 20px;
}
.addLink {
    display: flex;
    align-items: center;
    margin-left: 850px;
  }
  
  .add-btn {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Adjust the margin as needed to position the "Add" link */
    text-decoration: none;
    color: white; /* You can change this to your desired text color */
  }
  
  .add-text {
    margin-left: 5px; /* Adjust the margin as needed to separate the icon and text */
  }
  
.address-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.address-table th,
.address-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.address-table th {
    background-color: #83c0bd;
    color: white;
}
