.MainDiv {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    width: 80%;
    margin: auto;
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: rgb(62, 152, 204);
}

.logoDiv img {
    height: 80px;
    margin-right: 10px;
}
.textDiv{
    margin-top: 40px;

}
.textDiv2{
    margin-bottom: 40px;
}

.TableDiv {
    margin-top: 20px;
}

.address-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.address-table th,
.address-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.address-table th {
    background-color: #83c0bd;
    color: white;
}
